body {
  background-color: #dedfe2;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 400;
  width: 20rem;
  justify-content: left;
  align-items: center;
  color: #c6273f;
  margin: 1rem;
}

label {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.text-inp {
  max-width: 42rem;
  padding: 6px;
  font-family: 'Roboto', sans-serif;
}
.lat-lon-inp {
  padding: 6px;
  font-family: 'Roboto', sans-serif;
}

.button {
  border: none;
  background-color: #2f3764;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: #9497ae;
  transition: ease-in;
}

.lat-lon {
  justify-content: space-around;
  width: 25rem;
}

.location {
  justify-content: space-around;
  width: 25rem;
}

#display-results {
  display: flex;
  align-items: right;
  justify-content: right;
  padding-right: 1rem;
  padding-top: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #59636e;
  max-width: 30rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  z-index: +1;
}

#list-item {
  color: #59636e;
  list-style: none;
  margin-bottom: 1rem;
  background-color: white;
  max-width: 30rem;
}

#mapid {
  height: 90%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 800px) {
  .main-row {
    flex-direction: column;
  }

  .section1 {
    display: flex;
    align-items: left;
    flex-direction: column;
    max-width: 90%;
    padding: 0.5rem;
    padding-top: 1rem;
  }

  #display-results {
    display: flex;
    align-items: right;
    justify-content: right;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
  }
}
