{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css?{% now "U" %}"/>
    <script src="{% static '/js/script.js' %}" type="text/javascript"></script>
  </head>
  <body>
    <div class="main-row">
    <div class="header"><h1>GEOCODER</h1></div>
    <div class="options">
        <form class="location" action="/search/" method="post">
          <input class="text-inp"
            id="location"
            type="text"
            name="location"
            value="{{ current_location }}"
            placeholder="enter a location"
          />
          <input class="button" type="submit" value="search"><a href="/search?location={{ current_location }}"></a></input>
        </form>
          <div class="space"></div>
        <form class="lat-lon" id="lat-lon" action="/reverse/" method="post">
          <input class="lat-lon-inp"
            id="lat"
            type="text"
            name="lat"
            value="{{ current_latitude }}"
            placeholder="enter latitude"
          />
          <input class="lat-lon-inp"
            id="lon"
            type="text"
            name="lon"
            value="{{ current_longitude }}"
            placeholder="enter longitude"
          />
        <input class="button" type="submit" value="reverse"><a href="/reverse?lat={{ current_latitude }}&lon={{ current_longitude }}"></a></input>
        </form>
    </div>
  </div>
  </body>
</html>
