{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css?{% now "U" %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    <script src="{% static '/js/script.js' %}" type="text/javascript"></script>
  </head>
  <body>
    <div class="header"><h1>GEOCODER</h1></div>
    <div class="section2">
      <div id="mapid"></div>
    </div>
    <div class="main-row">
    <div class="section1">
        <form class="location" id="search">
          <input class="text-inp"
            id="location"
            type="text"
            name="location"
            value="{{ current_location }}"
            placeholder="enter a location"
          />
          <input class="button" type="submit" value="search"><a href="/search?location={{ current_location }}"></a></input>
        </form>
          <div class="space"></div>
        <form class="lat-lon" id="reverse">
          <input class="lat-lon-inp"
            id="lat"
            type="text"
            name="lat"
            value="{{ current_latitude }}"
            placeholder="enter latitude"
          />
          <input class="lat-lon-inp"
            id="lon"
            type="text"
            name="lon"
            value="{{ current_longitude }}"
            placeholder="enter longitude"
          />
        <input class="button" type="submit" value="reverse"><a href="/reverse?lat={{ current_latitude }}&lon={{ current_longitude }}"></a></input>
        </form>
    </div>
    <div id="display-results"></div>
  </div>

  
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script>
    let search = document.getElementById('search'); // selecting the form
    let reverse = document.getElementById('reverse'); // selecting the form
    var mymap = L.map('mapid').setView([51.508, -0.11], 13);

  
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/satellite-v9',
      accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);


    function makeUL(json, latitude, longitude) {
      // Create list element
      var list = document.createElement('ul');

      for(var i = 0; i < Object.keys(json).length; i++) {
          // Create list item
          var item = document.createElement('li');
          item.id = 'list-item'
          item.name = i
          var lat = latitude[i]
          var lon = longitude[i]
          // Set contents

          item.onclick = function(event) {
            var listNumber = event.target.name
            mymap.setView(new L.LatLng(longitude[listNumber], latitude[listNumber]), 5, { animation: true });
          } 
          item.appendChild(document.createTextNode(Object.values(json)[i]));

          // Add to the list
          list.appendChild(item);

      }
      // Return list
      return list;
    }

    
    search.addEventListener('submit', function(event) {
        event.preventDefault()
    
        let data = new FormData();
        
        data.append("location", document.getElementById('location').value)
        data.append("lat", document.getElementById('lat').value)
        data.append("lon", document.getElementById('lon').value)
        data.append("csrfmiddlewaretoken", '{{csrf_token}}')
        
        
        axios.post('search/', data)
        .then(res => {
          var names = []
          var latList = []
          var lonList = []
          var features = res.data.features
          for(var i=0; i<features.length;i++) {
            var latitude = features[i].geometry.coordinates[0];
            var longitude = features[i].geometry.coordinates[1];
            names.push([features[i].properties.name])
            latList.push([features[i].geometry.coordinates[0]])
            lonList.push([features[i].geometry.coordinates[1]])
            var marker = L.marker([longitude, latitude]).addTo(mymap);
            // Center map showing all LatLngs
            // mymap.setView(new L.LatLng(longitude, latitude), 5, { animation: true });  
          } 

          // Display list with results:

          if (document.getElementById('display-results').innerHTML !== "") {
            document.getElementById('display-results').innerHTML = "";
            document.getElementById('display-results').appendChild(makeUL(names, latList, lonList));
          } else {
            document.getElementById('display-results').appendChild(makeUL(names, latList, lonList));
          }
          
        })

        
    })

    reverse.addEventListener('submit', function(event) {
        event.preventDefault()
    
        let data = new FormData();
        
        data.append("lat", document.getElementById('lat').value)
        data.append("lon", document.getElementById('lon').value)
        data.append("csrfmiddlewaretoken", '{{csrf_token}}')
        
        axios.post('reverse/', data)
        .then(res => {
          console.log(res)
          var features = res.data.features
          var output = features[0].properties.name
          // Display list with results
          document.getElementById('display-results').innerHTML=output;

          var latitude = features[0].geometry.coordinates[0]
          var longitude = features[0].geometry.coordinates[1]
          // Add marker to map
          var marker = L.marker([longitude, latitude]).addTo(mymap);
          // Set view not working
          mymap.setView(new L.LatLng(longitude, latitude), 5, { animation: true }); 
          
        }) 
    })


    function onMapClick(e) {
      var position =  e.latlng;
      var shorterPosition = String(position).slice(7, -1)
      var splitString = shorterPosition.split(', ')
      console.log(splitString)
      // get lat and long from click
      var latitude = splitString[0]
      var longitude = splitString[1]
      // callReverse(latitude, longitude)

      let data = new FormData();

      data.append("lat", latitude)
      data.append("lon", longitude)
      data.append("csrfmiddlewaretoken", '{{csrf_token}}')
        
      axios.post('reverse/', data)
      .then(res => {
        console.log(res)
        var features = res.data.features
        var output = features[0].properties.name
        // Display list with results
        document.getElementById('display-results').innerHTML=output;
        latitude = features[0].geometry.coordinates[0]
        longitude = features[0].geometry.coordinates[1]
        // Add marker to map
        
        var marker = L.marker([longitude, latitude]).addTo(mymap);
        // Set view not working
        mymap.setView(new L.LatLng(longitude, latitude), 5, { animation: true }); 
      }) 
    }

    mymap.on('click', onMapClick);


    </script>
    
  </body>
</html>
